language: php

php:
  - 5.6
  - 7.0

before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

before_install:
  - pip install --user codecov

after_success:
  - bash <(curl -s https://codecov.io/bash)

script: phpunit