<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		 bootstrap="vendor/autoload.php"
		 colors="true"
		 processIsolation="false"
		 failOnDeprecation="true">
	<testsuites>
		<testsuite name="CSV Parser Test Suite">
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<source>
    	<include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
